################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ExpenseManager.API/obj
/src/ExpenseManager.Application/obj
/src/ExpenseManager.Core/obj
/src/ExpenseManager.Infrastructure/obj
/.vs
/src/ExpenseManager.API/bin/Debug/net6.0
/src/ExpenseManager.Infrastructure/bin/Debug/net6.0
/src/ExpenseManager.Core/bin/Debug/net6.0
/src/ExpenseManager.Application/bin/Debug/net6.0
